@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

// for the bootstrap flexblox vertical alignment to work
html, body, #root {
  height: 100%;
}
body {
  font-family: "Press Start 2P";
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  background: #1a091c url(/assets/8bit-bg-1.jpg) 0 0 repeat-x;
}

.nes-container {
  background-color: rgba(255,255,255,1);
}

h1, 
h2 {
  color: #ff8400;
  text-shadow: 3px 5px 0px rgba(0,0,0,0.6);
  font-weight: bold;
  padding-bottom: .3em;
}
h1 {
  font-size: 2.5em;  
}

p.title {
  text-shadow: 1px 1px 1px rgba(0,155,255,0.9);
}
